@model IEnumerable<ProductVIewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row ">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="/img/book.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Qty: @item.Qty</p>
                <p class="card-text">Price: @item.Price</p>
                <button  class="btn btn-primary" onclick="addToCart(@item.Id)">Add To Cart</button>
            </div>
        </div>
    }

   
</div>

@section Scripts{
    <script>
        function addToCart(data) {
            

        }

    </script>
}
